/*-------------------------------------------------------------------------*/
/* # BRANDS
/*-------------------------------------------------------------------------*/
.brands {
	background: $bg-color1;
	color: $text-color1;
	text-align: center;
	padding: 115px 5% 60px;
	@include clearfix;

	h2 {
		font-weight: 700;
	}

	.items {
		@include outer-container;

		@include media($desktop) {
			@include span-columns(8);
			@include shift(2);
		}

		article {
			padding: 25px 5px;
			@include span-columns(3);
			@include omega(4n);

			@include media($mobile) {
				@include span-columns(6);
				@include omega(2n);
			}

			img {
				width: 100%;
				max-width: 150px;
				height: auto;
				display: block;
				margin: 0 auto;
			}
		}
	}
}

