/*-------------------------------------------------------------------------*/
/* # CONTACT
/*-------------------------------------------------------------------------*/
.contact {
	background: $bg-color2;
	@include clearfix;

	.map {
		width: 100%;
		height: 250px;

		@include media($tablet) {
			height: 350px;
		}

		@include media($desktop) {
			height: 450px;
		}

		img { 
			max-width: none;
		}

		#content {
			padding: 0 0.5em 1em 0.5em;
		}

		#firstHeading {
			font-size: 1em;
			line-height: 1em;
			font-weight: bold;
			margin: 0;
		}

		#bodyContent p {
			font-size: 1em;
			margin: 0;
		}
	}

	footer {
		color: $text-color2;
		padding: 70px 5% 20px;
		margin-bottom: 20px;
		@include outer-container;

		// @include media($desktop) {
		// 	@include span-columns(10);
		// 	@include shift(1);
		// }

		form {
			margin-bottom: 25px;
			@include span-columns(12);

			@include media($tablet) {
				@include span-columns(6);
			}

			@include media($desktop) {
				padding: 0 8%;
			}

			textarea {
				resize: none;
			}
			input[type="text"],
			input[type="email"],
			textarea {
				margin-bottom: 1.5em;

				@include placeholder {
					font-size: 13px;
					color: #8f8f8f;
				}
			}
		}

		.info {
			margin-bottom: 25px;
			@include span-columns(12);

			@include media($tablet) {
				@include span-columns(6);
			}

			@include media($desktop) {
				padding-left: 8%;
			}

			p {
				font-size: 19px;

				[class^="icon-"] {
					margin-right: 0.2em;
					position: relative;
					top: 3px;
					opacity: 0.5;
				}
			}
		}
	}
}

