/*-------------------------------------------------------------------------*/
/* # CONTACT
/*-------------------------------------------------------------------------*/
.contact {
	background: $bg-color2;
	@include clearfix;

	.map {
		width: 100%;
		height: 450px;
		margin-bottom: 70px;

		img { 
			max-width: none;
		}

		#content {
			padding: 0 0.5em 1em 0.5em;
		}

		#firstHeading {
			font-size: 1em;
			line-height: 1em;
			font-weight: bold;
			margin: 0;
		}

		#bodyContent p {
			font-size: 1em;
			margin: 0;
		}
	}

	footer {
		color: $text-color2;
		margin-bottom: 20px;
		@include outer-container;
		@include span-columns(10);
		@include shift(1);

		@include media($desktop) {
			@include span-columns(6);
			@include shift(3);
		}

		form {
			margin-bottom: 25px;
			@include span-columns(12);

			@include media($tablet) {
				@include span-columns(6);
			}

			@include media($desktop) {
				@include span-columns(5);
			}

			input[type="text"],
			input[type="email"],
			textarea {
				margin-bottom: 1.5em;

				@include placeholder {
					font-size: 13px;
					color: #8f8f8f;
				}
			}
		}

		.info {
			margin-bottom: 25px;
			@include span-columns(12);
			@include shift(0);

			@include media($tablet) {
				@include span-columns(6);
				@include shift(0);
			}

			@include media($desktop) {
				@include span-columns(5);
				@include shift(2);
			}

			p {
				font-size: 19px;

				[class^="icon-"] {
					margin-right: 0.2em;
					position: relative;
					top: 3px;
					opacity: 0.5;
				}
			}
		}
	}
}

