
<section id="header" class="header">
	<header>
		<a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/assets/img/header/logo-novasvit.jpg" alt="..."></a>

		<a href="#" class="mob-menu"><span class="icon-menu"></span></a>
		<nav class="displaynone">
			<a class="page-scroll" href="#slideshow">NovaSvit</a>
			<a class="page-scroll" href="#how-it-works">Как это работает?</a>
			<a class="page-scroll" href="#technologies">Предлaгаемые технологии</a>
			<a class="page-scroll" href="#brands">Нас рекомендуют</a>
			<a class="page-scroll" href="#footer">Контакты</a>
		</nav>
	</header>
</section>

