
<section id="slideshow" class="slideshow">
	<div class="owl-carousel owl-theme">
		<div class="item">
			<h2>Животноводческие комплексы</h2>
			<p>Водоподготовка животноводческих комплексов обязательно объединяет технологии очистки от крупных механических частиц, осветления, дезодорация и обеззараживания.</p>
			<a class="btn page-scroll" href="#footer">Отправить запрос</a>
		</div>
		<div class="item">
			<h2>Инжиниринг</h2>
			<p>Услуги инженерно-консультационного плана или соответствующие работы, которые имеют исследовательский, проектно-конструкторский или расчетно-аналитический характер.</p>
			<a class="btn page-scroll" href="#footer">Отправить запрос</a>
		</div>
		<div class="item">
			<h2>Проектирование</h2>
			<p>Проектирование отдельных аппаратов или целых технологических линий начинается с тщательного изучения потребностей в новом оборудовании или в замене существующего оборудования на предприятиях.</p>
			<a class="btn page-scroll" href="#footer">Отправить запрос</a>
		</div>
		<div class="item">
			<h2>Лабораторные исследования</h2>
			<p>Опыт показывает, что редко удается предложить готовые проекты для действующего производства, как правило, требуется новое проектирование или существенная переработка старых проектов оборудования.</p>
			<a class="btn page-scroll" href="#footer">Отправить запрос</a>
		</div>
		<div class="item">
			<h2>Водоподготовка</h2>
			<p>Модернизация станций водоподготовки в сфере ЖКХ достигается внедрением мембранных процессов ультра- или нанофильтрации, которые позволяют сократить эксплуатационные расходы и уйти от громоздких схем, требующих постоянного вмешательства обслуживающего персонала.</p>
			<a class="btn page-scroll" href="#footer">Отправить запрос</a>
		</div>
	</div>
</section>

