
<section id="how-it-works" class="how-it-works">
	<h2>Как это работает?</h2>
	<p>Мы предлагаем комплексный подход к решению проблемы</p>


	<div class="items">
		<article>
			<img src="{{ site.baseurl }}/assets/img/how-it-works/01.jpg" alt="...">
			<h5>Обучение персонала</h5>
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/how-it-works/02.jpg" alt="...">
			<h5>Производство оборудования</h5>
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/how-it-works/03.jpg" alt="...">
			<h5>Анализ исходных жидкостей</h5>
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/how-it-works/04.jpg" alt="...">
			<h5>Монтаж оборудования и пуско-накладка</h5>
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/how-it-works/05.jpg" alt="...">
			<h5>Подготовка технико коммерческого предложения</h5>
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/how-it-works/06.jpg" alt="...">
			<h5>Гарантийное и пост-гарантийное обслуживание</h5>
		</article>
	</div>
</section>

