
<section id="technologies" class="technologies">
	<h2>Предлaгаемые технологии</h2>

	<div class="items">
		<article>
			<h3>Химическая очистка</h3>
			<p>Окисление органических веществ, а также коагуляция или флотация взвешенных примесей, необходимая для ускорения процесса их осаждения - процессы, которые достигаются путем введения в воду химических реагентов.</p>
		</article>

		<article>
			<h3>Механическая очистка</h3>
			<p>Крупные, нерастворимые в воде частицы задерживаются на фильтрованых элементах механических фильтров - дисках, пластинах, полотнах - с последующим смывом в канализацию.</p>
		</article>

		<article>
			<h3>Ионный обмен</h3>
			<p>Процесс удаления катионов и анионов растворенных в воде веществ на фильтрах, загруженных ионообменными смолами.</p>
		</article>

		<article>
			<h3>Электромембранные технологии</h3>
			<p>Электродиализ и электродеионизация - процесс удаления из воды ионов растренных веществ путем их переноса через мембраны, селективные к этим ионам, в поле постоянного электрического тока.</p>
		</article>

		<article>
			<h3>Баромембранные технологии</h3>
			<p>Микрофильрация, ультрафильтрация, нанофильтрация, обратный осмос - процессы разделения жидкости на полупроницаемых мембранах на премеат (очищенную воду) и концетрат (воду с концентрированными примесями).</p>
		</article>

		<article>
			<h3>Фильтрование на зернистых материалах</h3>
			<p>В зависимости от типа загрузки фильтров, достигаются процессы отсеивания, сорбции, обезжелезивания, демангации.</p>
		</article>

		<article>
			<h3>Обеззараживание</h3>
			<p>Процессы деактивации патогенных бактерий и вирусов в воде - озонирование, хлоривание, ультрафиолетовое обеззараживание.</p>
		</article>
	</div>
</section>

