
<section id="brands" class="brands">
	<h2>Нас рекомендуют</h2>

	<div class="items">
		<article>
			<img src="{{ site.baseurl }}/assets/img/brands/01.jpg" alt="...">
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/brands/02.jpg" alt="...">
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/brands/03.jpg" alt="...">
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/brands/04.jpg" alt="...">
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/brands/05.jpg" alt="...">
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/brands/06.jpg" alt="...">
		</article>

		<article>
			<img src="{{ site.baseurl }}/assets/img/brands/07.jpg" alt="...">
		</article>
	</div>
</section>

