
<section id="contact" class="contact">

	<div id="map" class="map"></div>

	<footer id="footer">
		<form>
			<input type="text" name="name" placeholder="Фамилия Имя *" required>
			<input type="email" name="email" placeholder="Email *" required>
			<input type="text" name="phone" placeholder="Контактный телефон">
			<textarea name="message" rows="5" placeholder="Сообщение *"></textarea>
			<input type="submit" name="submit" value="Отправить запрос" class="btn">
		</form>

		<div class="info">
			<p><span class="icon-pin"></span> г.Киев, ул.Семьи Сосниных, 3</p>
			<p><span class="icon-phone"></span> Тел. (099) 123-45-00</p>
			<p><span class="icon-letter"></span> novasvit@gmail.com</p>
		</div>
	</footer>

</section>



